.section-background {
    background: rgba(47, 48, 58, 0.4);
    background-image: url("../images/img_fondo.jpg");
    background-blend-mode: overlay;
    padding: 200px $container-padding;
    position: relative;
    text-align: center;

    &__title {
        width: 500px;
        margin: 20px auto;
        color: $color-primary-white;
        font-size: 44px;
        text-transform: capitalize;
        position: relative;
        z-index: 5;
      }
      &__button-primary {
        background-color: $color-accent;
        color: $color-primary-white;
        font-size: 16px;
        font-weight: 700;
        border: none;
        outline: none;
        text-transform: capitalize;
        padding: 10px 20px;
        border-radius: 4px;
        cursor: pointer;
      }
      &__button-primary:hover {
        background-color: $color-hover;
      }    
  }
 