  $container-padding: calc((100% - 1200px) / 2);

  $color-accent:#2196f3;  
  $color-hover:#188ce8;
  
  $color-text-black: #000000;
  $color-primary-black:#212121;
  $color-text-gray: #757575;
  $color-primary-white: #ffffff;
  
  $color-bg-black: #2f303a;
  
  $color-gray-1: #f5f4fa;
  $color-gray-2: #afb1b8;
    
  $color-primary-white-10Perc: hsla(0, 0%, 100%, 0.1);  